<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-javascript" role="menuitem"><a href="{{site.baseurl}}tag/javascript/">Javascript</a></li>
    <li class="nav-javaSpring" role="menuitem"><a href="{{site.baseurl}}tag/javaspring/">java/spring</a></li>
    <li class="nav-CC++" role="menuitem"><a href="{{site.baseurl}}tag/cc++/">C/C++</a></li>
    <li class="nav-C#" role="menuitem"><a href="{{site.baseurl}}tag/c#/">C#</a></li>
    <li class="nav-linux" role="menuitem"><a href="{{site.baseurl}}tag/linux/">linux</a></li>
    <li class="nav-economy" role="menuitem"><a href="{{site.baseurl}}tag/economy/">economy</a></li>
    <li class="nav-etc" role="menuitem"><a href="{{site.baseurl}}tag/etc/">etc</a></li>
    
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>